@tailwind base;
@tailwind components;
@tailwind utilities;
/* ------------- */

@layer base {
  html {
    direction: rtl;
    background-color: white;
    font-family: "Vazir";
    scroll-behavior: smooth;
  }
}
/* scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffb152;
}
::-webkit-scrollbar-thumb:active {
  background: #ffa538;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* scrollbar */

/*  */
@layer components {
  .navbar__link_hover {
    @apply transition-all ease-out duration-200 hover:text-[#fd6131];
  }
  .orange__btn {
    @apply text-white font-semibold py-2 px-6 bg-[#fd6131] rounded-md hover:shadow-md transition-all ease-out duration-200 hover:scale-95;
  }
  .hover__white {
    @apply hover:text-white transition-colors duration-200 ease-out;
  }

  .active__contact_link {
    @apply border-b-4 border-blue-500 rounded-lg relative top-5;
  }
}

/* animation */
.submenu-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.submenu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 280ms, transform 300ms;
}
.submenu-exit {
  transform: translateY(0);
}
.submenu-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 250ms, transform 300ms;
}
/* ------ */
.my-node-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.my-node-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms ease-out, transform 400ms ease-out;
}
.my-node-exit {
  opacity: 1;
  transform: translateY(0);
}
.my-node-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 400ms ease-out, transform 400ms ease-out;
}
