@tailwind base;
@tailwind components;
@tailwind utilities;
/* ------------- */

@layer base {
  html {
    direction: rtl;
    background-color: white;
    font-family: "Vazir";
    overflow: hidden;
  }
}

/*  */
@layer components {
  .navbar__link_hover {
    @apply transition-all ease-out duration-200 hover:text-[#fd6131];
  }
  .orange__btn {
    @apply text-white font-semibold py-2 px-6 bg-[#fd6131] rounded-md hover:shadow-md transition-all ease-out duration-200 hover:scale-95;
  }
}

.submenu-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.submenu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 280ms, transform 300ms;
}
.submenu-exit {
  transform: translateY(0);
}
.submenu-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 250ms, transform 300ms;
}
